body{
    margin:0;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}
.cover{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color:black;
    position: absolute;
    top: 0;
    left: 14%;
    /* border:1px solid greenyellow; */
    animation: infinite linear 15s transition;
}

@keyframes transition {
    0%{
        top: 0;
        left: 14%;
    }
    100%{
        top: 100%;
        left: 100%  ;
    }
}