body{
    margin:0;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.sun{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 40%;
    left: 45%;
    border-radius: 50%;
    background-color: yellow;
}

.orbit{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border:2px solid white;
    position: fixed;
    display: flex;
    justify-content: center;
    top : 22%;
    left: 37%;
    animation: infinite linear 10s rotation;
    z-index: 1;
}
.orbit1{
    height: 375px;
    width: 375px;
    border-radius: 50%;
    border:2px solid white;
    position: fixed;
    display: flex;
    /* flex-direction: ; */
    /* align-items: center; */
    justify-content: center;
    top : 15.5%;
    left: 34%;
    /* animation-name: rotatation; */
    animation: infinite linear 15s rotation;
    /* background-color:;  */
    z-index: 2;
}
.orbit2{
    height: 550px;
    width: 550px;
    border-radius: 50%;
    border:2px solid white;
    position: fixed;
    display: flex;
    /* flex-direction: ; */
    /* align-items: center; */
    justify-content: center;
    top : 4%;
    left: 28%;
    /* animation-name: rotatation; */
    animation: infinite linear 18s rotation;
    /* background-color:;  */
    z-index: 2;
}
.orbit3{
    height: 650px;
    width: 650px;
    border-radius: 50%;
    border:2px solid white;
    position: fixed;
    display: flex;
    /* flex-direction: ; */
    /* align-items: center; */
    justify-content: center;
    top : -5%;
    left: 24%;
    /* animation-name: rotatation; */
    animation: infinite linear 21s rotation;
    /* background-color:;  */
    z-index: 2;
}
.orbit4{
    height: 800px;
    width: 800px;
    border-radius: 50%;
    border:2px solid white;
    position: fixed;
    display: flex;
    /* flex-direction: ; */
    /* align-items: center; */
    justify-content: center;
    top : -15%;
    left: 19%;
    /* animation-name: rotatation; */
    animation: infinite linear 21s rotation;
    /* background-color:;  */
    z-index: 2;
}

.earth{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    position: fixed;
    top:-17px;
}
.mars{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: fixed;
    top:-17px;
}
.jupiter{
    height: 90px;
    width: 90px;
    background-color:orangered;
    border-radius: 50%;
    position: fixed;
    top:-35px;
}
.saturn{
    height: 80px;
    width: 80px;
    background-color:rgb(215, 135, 31);
    border-radius: 50%;
    position: fixed;
    top:-30px;
}
.uranus{
    height: 90px;
    width: 90px;
    background-color:rgb(29, 126, 205);
    border-radius: 50%;
    position: fixed;
    top:-30px;
}

/* .orbit-container{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border:1px solid white
} */

@keyframes rotation {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}